.square {
  color: blue;
  background: #fff;
  border: 1px solid #999;
  float: left;
}

.status {
  margin-bottom: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

ol, ul {
  padding-left: 300px;
}

body {
  font: 0px;
  margin: 0px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
