.game-info {
  margin-left: 20px;
}

.game {
  display: flex;
  flex-direction: row;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.square:focus {
  outline: none;
}

.square {
  color: black;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.status {
  margin-bottom: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

ol, ul {
  padding-left: 300px;
}

body {
  font: 0px;
  margin: 200px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
